section#evaluation-list  {
  align-items: center;
}

section#evaluation-list article {
  min-width: 500px;
  width: 80%;
  border: 1px solid #CCCCCC;
  margin: 5px;
  height: 100%;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  box-shadow: 1px 5px 15px -4px rgba(153,151,153,1);
  -webkit-box-shadow: 1px 5px 15px -4px rgba(153,151,153,1);
}

div#evaluation-note {
  width: 6%;
  min-height: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  color: white;
}

label#evaluation-comment, label#evaluation-without-comment {
  width: 94%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

label#evaluation-without-comment {
  color: #818181;
}

@media(max-width: 1000px) {
  div#evaluation-note {
    width: 20%;
  }
  
  label#evaluation-comment, label#evaluation-without-comment {
    width: 80%;
  }
}

@media(min-width: 1000px) {
  div#evaluation-note {
    width: 8%;
  }
  
  label#evaluation-comment, label#evaluation-without-comment {
    width: 92%;
  }
}

div#all-comments {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  opacity: 0.5;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  background: #0184ff;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: #00bf09;
}

form#new-evaluation {
  width: 100%;
  max-width: 580px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 30px auto 0;
  padding: 30px;
  background: #FFFFFF;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

form#new-evaluation textarea {
  margin: 10px 0px;
  resize: none;
  height: min-content;
  height: 150px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif !important;
}

form#new-evaluation button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  background: #00bf09;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

label#evaluation-note {
  text-align: end;
  font-weight: 700;
  font-size: 12px !important;
  color: #818181 !important;
  font-style: italic;
}

div#redirect-main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

div#redirect-main a {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
}

div#redirect-main img {
  z-index: 1999;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 0;
  box-shadow: 1px 5px 15px -4px rgba(153,151,153,1);
  -webkit-box-shadow: 1px 5px 15px -4px rgba(153,151,153,1);
}

div#validation-message {
  width: 100%;
  max-width: 580px;
  min-height: 50px;
  margin: 30px auto 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  opacity: 0;
}

div#validation-message label {
  font-weight: 700;
}

.fade-in-opacity {
  -webkit-animation: fadeIn 7s ease;
  animation: fadeIn 7s ease;
}

.positive-evaluation {
  background-color: #27ce7a !important; 
}

.neutral-evaluation {
  background-color: #ffdb2ac7 !important;
}

.negative-evaluation {
  background-color: #ff1414c7 !important;
}

.rangeslider {
  margin-bottom: 5px !important;
}

@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
}